ROCKS_ENV=development
ROCKS_LOG_LEVEL=INFO
ROCKS_HUB_URL=
ROCKS_API_KEY=
ROCKS_EMAIL_ENABLED=false
ROCKS_SMTP_HOST=
ROCKS_SMTP_PORT=587
ROCKS_SMTP_USERNAME=
ROCKS_SMTP_PASSWORD=
ROCKS_SMTP_FROM=
ROCKS_SMTP_TO=
ROCKS_EMAIL_MINIMUM_SEVERITY=HIGH
ROCKS_SMTP_STARTTLS=true
ROCKS_SMTP_USE_SSL=false
ROCKS_SMTP_TIMEOUT_SECONDS=5
